# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
venv/
backend/venv/

# Node
node_modules/
frontend/node_modules/
/dist
frontend/dist/

# Env
.env
.env.*
.env.local

# IDEs
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
pip-log.txt

# Build
build/

# Misc
*.log
